 *{
    margin: 0%;
    padding: 0%;
  }

 body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;     
    min-height: 100vh;
    margin: 0;
    background-color: rgb(252, 252, 252);
}

#nav_bar{
    background-color: rgb(58, 11, 11);
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: center;
    position: fixed;
}

#nav_bar a{
    text-decoration: none;
    font-size: x-large;
    font-weight: 700;
    color: rgb(211, 211, 211);
}

#nav_bar a:hover {
  transform: scale(1.5);
  color:  rgb(0, 0, 0);
}

#card{
    background-color: rgb(58, 11, 11);
    height: 60vh;
    width: 850px;
    margin-top: 11%;
    margin-left: 4%;
    border: rgb(30, 5, 5);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}
#card_image{
   height: 60vh;
   width: 500px;
   padding: auto; 
}
#card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#card_content{
    display: flex;
    flex-direction: column;
    margin-bottom: 8pxS;
}
#card_content_name{
    font-size: xx-large;
    font-weight: 700;
    font-style: normal;
    color: rgb(222, 221, 221);
    margin-top: 50px;
    align-items: center;
    text-align: center;

}
#card_content_work{
    font-size: large;
    font-weight: 600;
    font-style: italic;
    color: rgb(199, 199, 199);
    padding-top: 50px;
    align-items: center;
    text-align: center;  
}
#card_content_discription{
    font-size: medium;
    font-weight: 500;
    font-style: italic;
    color: rgb(169, 169, 169);
    padding-top: 70px;
    align-items: center;
    text-align: center;  
}

#card_socialmedia_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.social-icons a {
  color: #ffffff;
  font-size: 28px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #0077b5;
  transform: scale(1.2);
}

.social-icons a {
  margin-right: 40px;
}
#project{
    margin-top: 6%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.projects{
    margin-right: 60px;
    height: 50vh;
    width: 60vh;
    margin: 4%;
    background-color: rgb(30, 5, 5);
}
.projects img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
}
#project_des{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
}
.project_name{
    font-size: x-large;
    font-weight: 700;
    color: rgb(58, 11, 11);
}
.project_discription{
    margin-top: 3%;
    font-size: medium;
    font-weight: 500;
    color: rgb(81, 16, 16);
}
#experience_content{
    padding: 1%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 150px;
}
.experience_section{
    height: 80vh;
    width: 70vh;
    padding: 2%;
}
#experience_content h2{
    font-size: x-large;
    font-weight: 700;
    color: rgb(58, 11, 11);
}
#experience_content img{
    margin-top: 3%;
    height: 40vh;
    width: 40vh;
}
#experience_content h3{
    margin-top: 5%;
    font-size: large;
    font-weight: 700;
    color: rgb(79, 16, 16);
}
#experience_content p{
    margin-top: 3%;
    font-size: medium;
    font-weight: 500;
    color: rgb(113, 22, 22);
}
#contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 45vh;
    padding: 2%;
}
.contact_section{
    margin-top: 20%;
    font-size: xx-large;
    font-weight: 700;
    color: rgb(58, 11, 11);
}
#contact p{
    margin-top: 20%;
    font-size: x-large;
    font-weight: 700;
}

.social_icons {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.social_icons a {
  color: rgb(79, 16, 16);
  font-size: 28px;
  transition: 0.3s;
}

.social_icons a:hover {
  color: rgb(6, 102, 161);
  transform: scale(1.2);
}

.social_icons a {
  margin-right: 40px;
}
