#card{
    background-color: rgb(58, 11, 11);
    height: 60vh;
    width: 850px;
    margin-top: 4%;
    margin-left: 4%;
    border: rgb(30, 5, 5);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}
#card_image{
   height: 60vh;
   width: 500px;
   padding: auto; 
}
#card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#card_content{
    display: flex;
    flex-direction: column;
    margin-bottom: 8pxS;
}
#card_content_name{
    font-size: xx-large;
    font-weight: 700;
    font-style: normal;
    color: rgb(222, 221, 221);
    margin-top: 50px;
    align-items: center;
    text-align: center;

}
#card_content_work{
    font-size: large;
    font-weight: 600;
    font-style: italic;
    color: rgb(199, 199, 199);
    padding-top: 50px;
    align-items: center;
    text-align: center;  
}
#card_content_discription{
    font-size: medium;
    font-weight: 500;
    font-style: italic;
    color: rgb(169, 169, 169);
    padding-top: 70px;
    align-items: center;
    text-align: center;  
}

#card_socialmedia_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 8px;
}

.social-icons a {
  color: #696969;
  font-size: 28px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #0077b5;
  transform: scale(1.1);
}

.social-icons a {
  margin-right: 40px;
}

